body {
	background-color: darkseagreen;
}

h1 {
	text-align: center;
	margin-top: 2%;
	color: forestgreen;
	font-size: 36px;
	font-family: sans-serif;
}

p {
	text-align: center;
	color: forestgreen;
	font-size: 24px;
	font-family: sans-serif;
}
.outer {
	width:100%;
	height:500px;
	display:flex;
	justify-content:center;
}
.inner {
	display:flex;
	flex-direction:column;
	justify-content:center;
}
label {
	font-size:32px;
	padding:5px 10px;
	color:forestgreen;
	font-family: sans-serif;
}
canvas {
	background-color: white;
}