<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Predict written digits</title>
</head>
<body>
    <h1>Predict digits</h1>
    <p>Write a digit with your mouse and see output of a neural net</p>
    <div class="outer">
        <div class="inner">
        <label for="canvas">X1:%</label>
        <label for="canvas">X2:%</label>
        <label for="canvas">X3:%</label>
        <label for="canvas">X4:%</label>
        <label for="canvas">X5:%</label>
        <label for="canvas">X6:%</label>
        <label for="canvas">X7:%</label>
        <label for="canvas">X8:%</label>
        <label for="canvas">X9:%</label>
        <label for="canvas">X10:%</label>
        </div>
        <canvas id="canvas"></canvas>
    </div>
</body>
</html>